---
layout: default
---

{% unless page.content == '' %}
    <p>{{ page.content }}</p>
{% endunless %}

{% for post in site.categories.[page.type] %}
    <article class="h-entry" role="article">
        <header>
            <h2 class="p-title">
                <a class="p-url" href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.title }}</a>
            </h2>
            <a class="p-url" href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">
                <time class="p-published" pubdate="" datetime="{{ post.date }}">{{ post.date | date_to_long_string }}</time>
            </a>
        </header>
        <div class="e-content">
          <p>{{ post.excerpt }}</p>
          <p class="keepreading">
            <a class="p-url" href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">weiterlesen</a>
          </p>
        </div>
    </article>
{% endfor %}