---
layout: default
---
<article class="h-entry" role="article">
  <header>
    <h1 class="p-name">{{ page.title }}</h2>
    <h2>
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
    </h2>
  </header>
  <div class="e-content">
  {{ content }}
  </div>
  <footer>
    {% if page.previous %}
        <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next %}
        <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}">&rarr; {{ page.next.title }}</a>
    {% endif %}
  </footer>
</article>